<template>
  <div>
    <div class="flex flex-row">
      <button
        v-for="(tab, i) in tabs"
        :key="`tab_${i}`"
        :class="[
          tab.isActive ? `text-white` : `text-gray-600`,
          `px-4 py-2 w-full focus:outline-none hover:text-white bg-transparent hover:bg-gray-700 rounded-none shadow-none`,
        ]"
        @click="selectTab(tab)"
      >
        {{ tab.name }}
      </button>
    </div>
    <div class="tabs-details">
      <slot></slot>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return { tabs: [] }
  },

  created() {
    this.tabs = this.$children
  },
  methods: {
    selectTab(selectedTab) {
      this.tabs.forEach((tab) => {
        tab.name === selectedTab.name
          ? (tab.isActive = true)
          : (tab.isActive = false)
      })
    },
  },
}
</script>
