<template>
  <div class="w-full flex flex-row flex-wrap">
    <div
      v-for="(field, i) in fieldsData"
      :key="`${i}_${field.name}`"
      :style="field.style"
      class="w-full sm:w-1/2 md:w-1/3 lg:w-1/5"
    >
      <Input
        v-if="
          field.input === 'number' ||
          field.input === 'text' ||
          field.input === 'date'
        "
        class="text-black"
        :value="getValue(field.name)"
        :name="field.name"
        :label="field.label"
        :placeholder="field.label"
        :type="field.input"
        :min="field.min"
        :max="field.max"
        :step="field.step"
        @input="updateData(field.name, $event)"
      />
      <Textarea
        v-else-if="field.input === 'textarea'"
        :value="getValue(field.name)"
        class="text-black"
        :name="field.name"
        :label="field.label"
        :placeholder="field.label"
        @input="updateData(field.name, $event)"
      />
      <Checkbox
        v-else-if="field.input === 'checkbox'"
        :value="getValue(field.name)"
        :name="field.name"
        :label="field.label"
        :placeholder="field.label"
        @change="updateData(field.name, $event)"
      />
      <Select
        v-else-if="field.input === 'select'"
        :value="getValue(field.name)"
        :name="field.name"
        :label="field.label"
        :data="field.data"
        :placeholder="field.label"
        :multiple="field.multiple"
        :max-displayed="field.maxDisplayed"
        @input="updateData(field.name, $event)"
      />
    </div>
  </div>
</template>
<script>
import * as globalStyles from '~/constants/style'
export default {
  props: {
    fields: {
      type: Object,
      default: null,
    },
    fieldValues: {
      type: Object,
      default: null,
    },
  },
  computed: {
    fieldsData() {
      if (!this.fields) return {}
      const fields = []
      Object.keys(this.fields).map((fieldItem) => {
        const field = this.fields[fieldItem]
        if (field && field.style) field.style = this.getStyles(field.style)
        if (field) fields.push(field)
      })
      return fields
    },
  },
  methods: {
    getValue(field) {
      if (this.fieldValues && this.fieldValues[field]) {
        return this.fieldValues[field]
      }
    },
    getStyles(styles) {
      if (!styles) return {}
      const stylesObject = {}
      Object.keys(styles).map((style) => {
        if (this.$viewport.breakpoint[style]) {
          stylesObject[style] = this.$viewport.breakpoint[style]
        } else if (style) {
          stylesObject[style] = styles[style]
        } else if (globalStyles && globalStyles[style]) {
          stylesObject[style] = globalStyles[style].default
        }
      })
      return stylesObject
    },
    updateData(field, data) {
      if (Array.isArray(data)) data = data.map((value) => value.value)
      this.$emit('updateField', {
        field,
        value: data,
      })
      this.fieldValues[field] = data
      this.$emit('updateForm', this.fieldsValues)
    },
  },
}
</script>
