<template>
  <div class="w-full inline-block">
    <div>Header</div>
    <components-list
      v-if="configuration"
      :components="configuration"
      is-studio-mode
    />
    <form-add-component class="w-full" />
    <div>Footer</div>
  </div>
</template>
<script>
import { uuid } from 'vue-uuid'
export default {
  middleware: 'auth',
  layout: 'studio',
  async fetch() {
    await this.$store.commit('studio/pageConfiguration/init')
    await this.$store.commit('studio/activeComponentConfig/init')
    this.$store.commit(
      'studio/pageConfiguration/setPageId',
      this.pageConfiguration.id
    )
    if (!this.pageConfiguration || !this.pageConfiguration.root) return

    this.$store.commit(
      'studio/pageConfiguration/setComponents',
      this.flatMapComponents(
        this.treeMapIdComponents(this.pageConfiguration.root)
      )
    )
  },
  async asyncData({ app, params, error, store }) {
    try {
      const result = await app.$pages.getOneById(params.id)
      return {
        pageConfiguration: result,
      }
    } catch (e) {
      error({ statusCode: 404, message: 'Page configuration not found' })
    }
  },
  data() {
    return {
      root: null,
      pageConfiguration: null,
    }
  },
  computed: {
    configuration() {
      return this.$store.state.studio.pageConfiguration.treeMap
    },
  },
  methods: {
    treeMapIdComponents(componentsRoot, parentId, depth) {
      if (!depth) depth = 0
      componentsRoot.forEach((component, index) => {
        const id = uuid.v1()
        component.id = id
        component.index = index
        component.depth = depth
        const { children } = component
        if (parentId) component.parentId = parentId
        if (children && children.length > 0)
          component.children = this.treeMapIdComponents(children, id, depth + 1)
      })
      return componentsRoot
    },
    flatMapComponents(componentsArray, parentId) {
      let componentsMapping = {}
      componentsArray.forEach((component) => {
        let childrenId = null
        const { id, name, props, style, children, depth, index } = component
        const lastUpdate = component.lastUpdate || Date.now()
        if (children) {
          childrenId = children.map((child) => {
            return child.id
          })
        }
        componentsMapping[id] = {
          id,
          name,
          props,
          style,
          depth,
          index,
          lastUpdate,
        }
        if (parentId) componentsMapping[id].parentId = parentId
        if (childrenId) componentsMapping[id].childrenId = childrenId
        if (children && children.length > 0)
          componentsMapping = Object.assign(
            componentsMapping,
            this.flatMapComponents(children, id)
          )
      })
      return componentsMapping
    },
  },
}
</script>
