button {
  @apply rounded-md shadow-md bg-gray-200 text-black px-2 py-1;
  &:focus {
    @apply outline-none;
  }
  &:hover {
    @apply bg-gray-500;
  }
}

.bg-primary {
  @apply bg-gray-700 text-white;
}

.bg-danger {
  @apply bg-red-600 text-white;
}
