<template>
  <button class="bg-white rounded-full">{{ text }}</button>
</template>
<script>
export default {
  name: 'Button',
  props: {
    text: {
      type: String,
      input: `text`,
      default: `Texte boutton`,
    },
  },
  style: {
    paddingTop: {},
    paddingBottom: {},
    paddingLeft: {},
    paddingRight: {},
  },
}
</script>
