<template>
  <div v-click-outside="closeDropdownClickOutside" class="relative">
    <span class="inline-block w-full z-10">
      <button
        type="button"
        :aria-haspopup="name"
        aria-expanded="true"
        :aria-labelledby="`${name}-label`"
        class="flex min-h-10 items-center relative cursor-pointer w-full pl-1 pr-8 text-left focus:outline-none"
        @click="openDropdown"
      >
        <div
          class="flex flex-wrap flex-auto items-center text-md justify-start max-w-full"
        >
          {{ name }}
        </div>
        <span
          class="absolute inset-y-0 right-0 flex items-center pointer-events-none"
        >
          <icon-svg
            class="h-5 w-5 text-white"
            fill="currentColor"
            :icon-path="mdiChevronDown"
          />
        </span>
      </button>
    </span>
    <Transition name="fade">
      <div v-show="isOpen" class="w-full absolute z-20">
        <slot></slot>
      </div>
    </Transition>
  </div>
</template>

<script>
import { mdiChevronDown } from '@mdi/js'
export default {
  props: {
    isStudioMode: {
      type: Boolean,
      default: false,
    },
    name: {
      type: String,
      label: `Name`,
      input: `text`,
      default: `Wrapper`,
    },
  },
  data() {
    return {
      mdiChevronDown,
      isOpen: false,
    }
  },
  methods: {
    closeDropdownClickOutside() {
      if (!this.isStudioMode) this.closeDropdown()
    },
    closeDropdown() {
      this.isOpen = false
    },
    openDropdown() {
      this.isOpen = !this.isOpen
    },
  },
  style: {
    width: {
      default: '100%',
    },
    display: {
      default: 'inline-block',
    },
  },
  extendConfig: {
    wrapper: true,
  },
}
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: all 0.15s ease-in-out;
  transition: all 0.15s cubic-bezier(0.75, 0, 0.1, 1);
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
  transform: translate(0, -10px);
}
</style>
