<template>
  <div v-if="isStudioMode" @click="test">
    <slot></slot>
  </div>
  <a v-else-if="!isStudioMode && isExternal" :href="link"><slot></slot></a>
  <nuxt-link v-else-if="!isStudioMode && !isExternal" :to="link"
    ><slot></slot
  ></nuxt-link>
</template>
<script>
export default {
  props: {
    isStudioMode: {
      type: Boolean,
      default: false,
    },
    link: {
      type: String,
      label: `Lien`,
      input: `text`,
      default: `/`,
      style: {
        width: '33%',
      },
    },
    isExternal: {
      type: Boolean,
      label: `Lien externe`,
      input: `checkbox`,
      default: false,
      style: {
        width: '33%',
      },
    },
  },
  style: {
    marginTop: {},
    marginBottom: {},
    marginLeft: {},
    marginRight: {},
    paddingTop: {},
    paddingBottom: {},
    paddingLeft: {},
    paddingRight: {},
    position: {},
    backgroundColor: {
      default: null,
    },
    height: {
      default: 'auto',
    },
    width: {
      default: '100%',
    },
    display: {},
    minHeight: {
      default: '2rem',
    },
  },
  extendConfig: {
    wrapper: true,
  },
  methods: {
    test() {
      console.log(true)
    },
  },
}
</script>
