<template>
  <div class="bg-opacity-25 bg-gray-500 p-1">
    <slot></slot>
  </div>
</template>
<script>
export default {
  props: {
    text: {
      type: String,
      label: `Texte`,
      input: `text`,
      default: `Wrapper`,
      style: {
        width: '33%',
      },
    },
    description: {
      type: String,
      label: `Description`,
      input: `textarea`,
      default: `Ma description`,
      style: {
        width: '33%',
      },
    },
    selectionUnqiue: {
      type: Array,
      label: `Activé`,
      input: `select`,
      multiple: false,
      default: null,
      data: [
        { label: 'Value 1', value: 1 },
        { label: 'Value 2', value: 2 },
        { label: 'Value 3', value: 3 },
      ],
      style: {
        width: '33%',
      },
    },
    isActive: {
      type: Boolean,
      label: `Activé`,
      input: `checkbox`,
      default: false,
      style: {
        width: '33%',
      },
    },
    selection: {
      type: Array,
      label: `Activé`,
      input: `select`,
      multiple: true,
      default: null,
      maxDisplayed: 2,
      data: [
        { label: 'Value 1', value: 1 },
        { label: 'Value 2', value: 2 },
        { label: 'Value 3', value: 3 },
        { label: 'Value 4', value: 4 },
        { label: 'Value 5', value: 5 },
      ],
      style: {
        width: '33%',
      },
    },
    test: {
      type: Number,
      input: `number`,
      min: 0,
      step: 0.01,
      max: 5,
      default: 2,
      style: {
        width: '33%',
      },
    },
  },
  style: {
    marginTop: {},
    marginBottom: {},
    marginLeft: {},
    marginRight: {},
    paddingTop: {},
    paddingBottom: {},
    paddingLeft: {},
    paddingRight: {},
    position: {},
    backgroundColor: {
      default: null,
    },
    height: {
      default: 'auto',
    },
    width: {
      default: '100%',
    },
    display: {
      default: 'flex',
    },
    minHeight: {
      default: '2rem',
    },
  },
  extendConfig: {
    wrapper: true,
  },
}
</script>
