<template>
  <p style="white-space: pre-wrap; word-wrap: break-word">{{ text }}</p>
</template>
<script>
export default {
  name: 'Paragraph',
  props: {
    text: {
      type: String,
      input: `textarea`,
      label: `Description`,
      default: `Ma description`,
      style: {
        width: '33%',
      },
    },
  },
  style: {
    textAlign: {},
    fontSize: {},
    marginTop: {},
    marginBottom: {},
    marginLeft: {},
    marginRight: {},
    paddingTop: {},
    paddingBottom: {},
    paddingLeft: {},
    paddingRight: {},
    height: {},
    width: {},
    position: {},
    backgroundColor: {
      default: null,
    },
  },
}
</script>
