<template>
  <img :src="image" />
</template>
<script>
export default {
  name: 'Picture',
  props: {
    imageUrl: {
      type: String,
      input: `text`,
      default: ``,
    },
  },
  style: {
    marginTop: {},
    marginBottom: {},
    marginLeft: {},
    marginRight: {},
    objectFit: {},
    position: {},
    width: {
      default: '2rem',
    },
    height: {
      default: '2rem',
    },
  },
  computed: {
    image() {
      if (this.imageUrl) return this.imageUrl
      return `https://upload.wikimedia.org/wikipedia/commons/thumb/b/b3/Wikipedia-logo-v2-en.svg/800px-Wikipedia-logo-v2-en.svg.png`
    },
  },
}
</script>
