<template>
  <div
    :class="[
      collapse ? 'h-80' : 'h-0',
      'fixed z-30 bg-gray-800 transition-all duration-200 ease-in-out w-full bottom-0',
    ]"
  >
    <div
      :class="[
        collapse ? 'h-80' : 'h-0',
        'text-left justify-between overflow-y-scroll',
      ]"
    >
      <div class="flex flex-row fixed z-40">
        <button
          class="text-gray-500 hover:text-white shadow-none z-100 bg-primary rounded-l-none w-8 h-8"
          @click="updateSidebarState"
        >
          <icon-svg
            :icon-path="collapse ? mdiChevronDoubleLeft : mdiChevronDoubleRight"
            class="w-4 h-4 mr-2"
            fill="currentColor"
          />
        </button>
      </div>
      <div
        v-if="
          collapse &&
          activeComponent &&
          activeComponent.id &&
          activePage === 'page'
        "
        class="text-white flex flex-col justify-center"
      >
        <tabs>
          <tab name="Propriétés" :selected="true">
            <form-props />
          </tab>
          <tab name="Style">
            <form-style />
          </tab>
        </tabs>
        <div
          v-if="
            activeComponentConfig &&
            activeComponentConfig.extendConfig &&
            activeComponentConfig.extendConfig.wrapper
          "
          class="my-3"
        >
          <form-add-component
            :parent-id="activeComponent.id"
            :button-text="`Add component inside`"
          />
        </div>
        <button
          class="mx-auto my-2 px-2 py-1 bg-red-600 text-white rounded-md shadow-md focus:outline-none hover:bg-red-700"
          @click="deleteComponent"
        >
          Delete this component
        </button>
        <button
          class="mx-auto px-2 py-1 bg-green-600 text-white rounded-md shadow-md focus:outline-none hover:bg-green-700"
          @click="saveActiveConfig"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</template>
<script>
import { mdiChevronDoubleRight, mdiChevronDoubleLeft } from '@mdi/js'
export default {
  data() {
    return {
      menuEntries: [],
      mdiChevronDoubleRight,
      mdiChevronDoubleLeft,
    }
  },
  computed: {
    activeComponentConfig() {
      if (this.$componentsConfig && this.activeComponent.name)
        return this.$componentsConfig[this.activeComponent.name]
      return false
    },
    activePage() {
      if (this.$route.path === '/studio/pages') return 'pages'
      else if (this.$route.path.includes('/studio/page/')) return 'page'
      return 'global'
    },
    activeComponent() {
      return this.$store.state.studio.activeComponentConfig
    },
    collapse: {
      get() {
        return this.$store.state.studio.sidebar.downSideBar
      },
      set(value) {
        this.$store.commit('studio/sidebar/updateDownSideBar', value)
      },
    },
    components() {
      return this.$store.state.studio.pageConfiguration.components
    },
    configuration: {
      get() {
        return this.$store.state.studio.pageConfiguration.treeMap
      },
      set(value) {
        this.$store.commit('studio/pageConfiguration/setConfiguration', value)
      },
    },
  },
  methods: {
    deleteComponent() {
      this.$store.commit(
        'studio/pageConfiguration/deleteComponent',
        this.activeComponent.id
      )
    },
    updateSidebarState() {
      this.$store.commit('studio/activeComponentConfig/init')
      this.collapse = !this.collapse
    },
    async saveActiveConfig() {
      try {
        await this.$pages.updateOneById(
          this.$store.state.studio.pageConfiguration.id,
          { root: this.configuration }
        )
        this.$toast.success(`Page configuration updated successfully`)
      } catch (error) {
        this.$toast.error(`Page not updated`)
      }
    },
    redirectTo(path) {
      this.$router.push(path)
    },
  },
}
</script>
<style scoped>
.fade-enter-active {
  transition: all 0.3s ease-in-out;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
  transform: translate(0, 20px);
}

.fade-leave-active {
  display: none;
}
</style>
