<template>
  <div class="absolute flex flex-row">
    <div
      :class="[
        collapse ? 'md:w-56' : 'md:w-0',
        'z-30 bg-gray-800 md:min-h-screen transition-all duration-200 ease-in-out',
      ]"
    >
      <div
        :class="[
          collapse ? 'md:w-56' : 'md:w-0',
          'fixed mt-20 top-0 md:content-start text-left justify-between',
        ]"
      >
        <div
          v-if="
            collapse &&
            activeComponent &&
            activeComponent.id &&
            activePage === 'page'
          "
          class="text-white flex flex-col justify-center px-1"
        >
          <h3>Composant : {{ activeComponent.name }}</h3>
          <h5>Propriétés</h5>
          <form-props />
          <h5>Style</h5>
          <form-style />
          <div
            v-if="
              activeComponentConfig &&
              activeComponentConfig.extendConfig &&
              activeComponentConfig.extendConfig.wrapper
            "
            class="my-3"
          >
            <form-add-component
              :parent-id="activeComponent.id"
              :button-text="`Add component inside`"
            />
          </div>
          <button
            class="mx-auto my-2 px-2 py-1 bg-red-600 text-white rounded-md shadow-md focus:outline-none hover:bg-red-700"
            @click="deleteComponent"
          >
            Delete this component
          </button>
          <button
            class="mx-auto px-2 py-1 bg-green-600 text-white rounded-md shadow-md focus:outline-none hover:bg-green-700"
            @click="saveActiveConfig"
          >
            Save
          </button>
        </div>
        <div v-else-if="activePage === 'pages'"></div>
        <div v-else-if="activePage === 'global'"></div>
      </div>
    </div>
    <!--
    <button
      class="text-gray-500 hover:text-white shadow-none z-100 bg-primary rounded-l-none w-8 bottom-0 h-8 fixed"
      @click="updateSidebarState"
    >
      <icon-svg
        :icon-path="collapse ? mdiChevronDoubleLeft : mdiChevronDoubleRight"
        class="w-4 h-4 mr-2"
        fill="currentColor"
      />
    </button>
  --></div>
</template>
<script>
import { mdiChevronDoubleRight, mdiChevronDoubleLeft } from '@mdi/js'
export default {
  data() {
    return {
      menuEntries: [],
      mdiChevronDoubleRight,
      mdiChevronDoubleLeft,
    }
  },
  computed: {
    activeComponentConfig() {
      if (this.$componentsConfig && this.activeComponent.name)
        return this.$componentsConfig[this.activeComponent.name]
      return false
    },
    activePage() {
      if (this.$route.path === '/studio/pages') return 'pages'
      else if (this.$route.path.includes('/studio/page/')) return 'page'
      return 'global'
    },
    activeComponent() {
      return this.$store.state.studio.activeComponentConfig
    },
    collapse: {
      get() {
        return this.$store.state.studio.sidebar.leftSideBar
      },
      set(value) {
        this.$store.commit('studio/sidebar/updateLeftSideBar', value)
      },
    },
    components() {
      return this.$store.state.studio.pageConfiguration.components
    },
    configuration: {
      get() {
        return this.$store.state.studio.pageConfiguration.treeMap
      },
      set(value) {
        this.$store.commit('studio/pageConfiguration/setConfiguration', value)
      },
    },
  },
  methods: {
    deleteComponent() {
      this.$store.commit(
        'studio/pageConfiguration/deleteComponent',
        this.activeComponent.id
      )
    },
    updateSidebarState() {
      this.collapse = !this.collapse
    },
    async saveActiveConfig() {
      try {
        await this.$pages.updateOneById(
          this.$store.state.studio.pageConfiguration.id,
          { root: this.configuration }
        )
        this.$toast.success(`Page configuration updated successfully`)
      } catch (error) {
        this.$toast.error(`Page not updated`)
      }
    },
    redirectTo(path) {
      this.$router.push(path)
    },
  },
}
</script>
<style scoped>
.fade-enter-active {
  transition: all 0.3s ease-in-out;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
  transform: translate(10px, 0);
}

.fade-leave-active {
  display: none;
}
</style>
