<template>
  <Transition name="fade">
    <div
      v-if="showing"
      class="fixed z-100 bg-gray-300 bg-opacity-50 inset-0 overflow-y-auto"
    >
      <div
        class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:p-0"
      >
        <div
          class="fixed transition-opacity"
          aria-hidden="true"
          @click="$emit('input', false)"
        ></div>
        <div
          class="inline-block align-middle rounded-lg text-left transform transition-all sm:my-8 w-full"
          role="dialog"
          aria-modal="true"
          aria-labelledby="modal-headline"
        >
          <slot></slot>
        </div>
      </div>
    </div>
  </Transition>
</template>
<script>
export default {
  props: {
    value: {
      type: Boolean,
      defaut: false,
    },
  },
  computed: {
    showing() {
      if (process.client) {
        if (this.value) document.body.style.overflow = `hidden`
        else if (!this.value) document.body.style.overflow = `auto`
      }
      return this.value
    },
  },
}
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: all 0.25s ease-in-out;
  transition: all 0.25s cubic-bezier(0.25, 0, 0.1, 1);
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
