<template>
  <nav
    class="bg-gray-800 pt-2 md:pt-1 pb-1 px-1 mt-0 h-12 fixed w-full z-40 top-0"
  >
    <div class="flex flex-wrap items-center h-full">
      <div
        class="flex flex-shrink md:w-1/3 justify-center md:justify-start py-1 sm:py-0 hidden md:block text-white"
      >
        <nuxt-link to="/"> Logo </nuxt-link>
      </div>

      <div
        class="flex w-full content-center justify-between md:w-1/3 md:justify-end"
      >
        <ul
          class="list-reset flex justify-between flex-1 md:flex-none items-center"
        >
          <li
            v-for="route in studioRoutes"
            :key="route.path"
            class="flex-1 md:flex-none mx-auto md:mr-3 text-center mb-1"
          >
            <nuxt-link
              class="inline-block py-0 px-1 text-white no-underline text-sm w-full"
              :to="route.path"
            >
              {{ route.name }}
            </nuxt-link>
          </li>
          <li>
            <button class="bg-danger hover:bg-red-800" @click="logout">
              Logout
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>
<script>
export default {
  computed: {
    studioRoutes() {
      if (!this.$routes) return
      return [this.$routes.studio.home, this.$routes.studio.pages]
    },
  },
  methods: {
    async logout() {
      await this.$auth.logout()
      this.$toast.error('Vous êtes déconnecté ')
    },
  },
}
</script>
