<template>
  <div class="h-full w-full">
    <component-wrapper
      v-for="(component, i) in dynamicComponents"
      :key="`${i}_comp`"
      :component="component"
      :children="component.children"
      :is-studio-mode="isStudioMode"
      @hover="$emit('hover', $event)"
    />
  </div>
</template>
<script>
export default {
  name: 'ComponentsList',
  props: {
    components: {
      type: Array,
      default: null,
    },
    isStudioMode: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      dynamicComponents: this.components,
    }
  },
  watch: {
    components() {
      this.dynamicComponents = this.components
    },
  },
}
</script>
