<template>
  <div
    v-if="isStudioMode"
    class="parent"
    :style="[
      { minHeight: '2rem', minWidth: '2rem' },
      getStyleCategory([
        'text-fonts',
        'visual-formatting',
        'colors-background',
        'box-models',
      ]),
    ]"
    @mouseover="hoverState(true)"
    @mouseleave="hoverState(false)"
  >
    <div
      :class="[
        activeComponent.id === component.id ? 'bg-red-600' : '',
        parentHover && hover && activeComponent.id !== component.id
          ? 'bg-blue-500 cursor-pointer'
          : '',
        'h-full w-full',
      ]"
      @click="selectHoveredComponent(component.id)"
    >
      <component
        :is="component.name"
        v-bind="component.props"
        :is-studio-mode="isStudioMode"
        :style="[
          componentStyle.height ? { height: '100%' } : '',
          componentStyle.width ? { width: '100%' } : '',

          children && children.length > 0
            ? getStyleCategory(['text-fonts'])
            : getStyleCategory(['image-formatting']),
        ]"
      >
        <components-list
          v-if="children && children.length > 0"
          :components="children"
          :is-studio-mode="isStudioMode"
          :style="{ display: componentStyle.display }"
          @hover="parentHoverCallback($event)"
        />
      </component>
    </div>
  </div>
  <component
    :is="component.name"
    v-else
    v-bind="component.props"
    :style="[componentStyle]"
  >
    <components-list
      v-if="children && children.length > 0"
      :style="{ display: componentStyle.display }"
      :components="children"
    />
  </component>
</template>
<script>
import * as globalStyles from '~/constants/style'
export default {
  name: 'ComponentWrapper',
  props: {
    component: {
      type: Object,
      default: null,
    },
    children: {
      type: Array,
      default: null,
    },
    isStudioMode: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      componentStyle: {},
      hover: false,
      parentHover: true,
      deleteComponentModal: false,
    }
  },
  computed: {
    screenSize() {
      return this.$viewport.breakpoint
    },
    lastUpdate() {
      if (!this.isStudioMode) return
      return this.$store.state.studio.pageConfiguration.components[
        this.component.id
      ].lastUpdate
    },
    activeComponent: {
      get() {
        return this.$store.state.studio.activeComponentConfig
      },
      set(value) {
        this.$store.commit(
          'studio/activeComponentConfig/setActiveComponentConfig',
          value
        )
      },
    },
    isDownSidebarOpen: {
      get() {
        return this.$store.state.studio.sidebar.downSideBar
      },
      set(value) {
        this.$store.commit('studio/sidebar/updateDownSideBar', value)
      },
    },
  },
  watch: {
    screenSize() {
      this.componentStyle = this.defineStyle()
    },
    lastUpdate() {
      this.componentStyle = this.defineStyle()
    },
  },
  created() {
    const styles = this.defineStyle()
    this.componentStyle = styles
  },
  methods: {
    getStyleCategory(selectedCategories) {
      const style = {}
      let styleProperties = []
      selectedCategories.forEach((category) => {
        const properties = Object.keys(globalStyles).filter(
          (styleProperty) => globalStyles[styleProperty].category === category
        )
        if (properties && properties.length > 0)
          styleProperties = styleProperties.concat(properties)
      })
      if (styleProperties)
        styleProperties.forEach((prop) => {
          if (this.componentStyle[prop]) style[prop] = this.componentStyle[prop]
        })
      return style
    },
    async deleteComponent() {
      await this.$store.commit(
        'studio/pageConfiguration/deleteComponent',
        this.activeComponent.id
      )
      this.deleteComponentModal = false
      await this.unselectItem()
    },
    defineStyle() {
      if (!this.component.style) return
      const componentName = this.component.name
      let styles
      if (
        this.$componentsConfig[componentName] &&
        this.$componentsConfig[componentName].style
      )
        styles = Object.keys(this.$componentsConfig[componentName].style)
      const styleValue = {}
      const screenSizes = ['xs', 'sm', 'md', 'lg']
      styles.forEach((style) => {
        let hasStyle = false
        const currentBreakpoint = this.$viewport.breakpoint
        if (this.component.style) {
          const sizeIndex = screenSizes.indexOf(currentBreakpoint)
          if (
            this.component.style[currentBreakpoint] &&
            this.component.style[currentBreakpoint][style]
          ) {
            hasStyle = true
            styleValue[style] = this.component.style[currentBreakpoint][style]
          } else {
            for (let i = sizeIndex; i >= 0; i--) {
              if (
                !hasStyle &&
                this.component.style[screenSizes[i]] &&
                this.component.style[screenSizes[i]][style]
              ) {
                hasStyle = true
                styleValue[style] = this.component.style[screenSizes[i]][style]
              }
            }
          }
        }
        if (
          !hasStyle &&
          this.$componentsConfig[componentName].style &&
          this.$componentsConfig[componentName].style[style] &&
          this.$componentsConfig[componentName].style[style].default
        ) {
          const value = this.$componentsConfig[componentName].style[style]
            .default
          styleValue[style] = value
        }
      })
      return styleValue
    },
    hoverState(state) {
      this.hover = state
      if (state) this.$emit('hover', false)
      else this.$emit('hover', true)
    },
    parentHoverCallback(e) {
      this.parentHover = e
    },
    async selectHoveredComponent(id) {
      if (this.parentHover && this.hover && this.activeComponent.id !== id) {
        if (this.activeComponent) {
          await this.unselectItem()
        }
        const activeComponent = {
          ...this.$store.state.studio.pageConfiguration.components,
        }[id]
        if (!this.isDownSidebarOpen) this.isDownSidebarOpen = true
        activeComponent.id = id
        this.activeComponent = activeComponent
      }
    },
    unselectItem() {
      this.$store.commit('studio/activeComponentConfig/init')
      this.isDownSidebarOpen = false
    },
  },
}
</script>
