<template>
  <div class="flex flex-col">
    <pages-list :pages="pages" />
    <form-modal-page
      class="w-full flex justify-center"
      :type="`create`"
      :button-text="`Créer une nouvelle page`"
    />
  </div>
</template>
<script>
export default {
  middleware: 'auth',
  layout: 'studio',
  async asyncData({ app, params, error, store }) {
    try {
      const result = await app.$pages.get()
      return {
        pages: result,
      }
    } catch (e) {
      error({ statusCode: 404, message: 'Pages  not found' })
    }
  },
  data() {
    return {
      pages: [],
    }
  },
}
</script>
