<template>
  <div>
    Screen size
    <ul class="flex flex-row justify-center">
      <li
        v-for="size in screenSizes"
        :key="`screen_size_${size}`"
        :class="[
          screenSize === size
            ? 'text-gray-800 bg-gray-200'
            : 'text-white bg-gray-600',
          'mx-2 rounded-md shadow-md text-white bg-gray-600 py-1 px-2 cursor-pointer hover:text-gray-800 hover:bg-gray-200',
        ]"
        @click="setActiveScreenSize(size)"
      >
        {{ size }}
      </li>
    </ul>
    <DynamicForm
      :fields="buildStyle"
      :field-values="fieldValues"
      @updateField="updatePropValue($event)"
    />
  </div>
</template>
<script>
import * as globalStyles from '~/constants/style'
export default {
  data() {
    return {
      screenSizes: ['xs', 'sm', 'md', 'lg'],
      screenSize: 'xs',
    }
  },
  computed: {
    activeComponent() {
      return this.$store.state.studio.activeComponentConfig
    },
    componentConfig() {
      return this.$componentsConfig[this.activeComponent.name]
    },
    fieldValues() {
      const values = {}
      this.style.forEach((styleProperty) => {
        if (
          this.activeComponent.style &&
          this.activeComponent.style[this.screenSize]
        )
          values[styleProperty] = this.activeComponent.style[this.screenSize][
            styleProperty
          ]
      })
      return values
    },
    buildStyle() {
      const properties = {}
      this.style.forEach((styleProperty) => {
        properties[styleProperty] = globalStyles[styleProperty]
      })
      return properties
    },
    style() {
      return Object.keys(
        this.$componentsConfig[this.activeComponent.name].style
      )
    },
  },
  methods: {
    setActiveScreenSize(size) {
      this.screenSize = size
    },
    updatePropValue(data) {
      if (!data || !data.field) return
      const fieldName = data.field
      const fieldValue = data.value

      this.$store.commit('studio/activeComponentConfig/updateComponentStyle', {
        style: fieldName,
        screenSize: this.screenSize,
        value: fieldValue,
      })
      const componentStyle = this.activeComponent.style
      this.$store.commit('studio/pageConfiguration/updateComponent', {
        id: this.activeComponent.id,
        componentStyle,
      })
    },
  },
}
</script>
