<template>
  <div>
    <button
      v-if="type === 'create'"
      class="bg-green-600 text-white mx-3"
      @click="openModal"
    >
      {{ buttonText }}
    </button>
    <button
      v-else-if="type === 'edit'"
      class="bg-green-600 rounded-full ml-auto mr-2 text-white w-8 h-8"
      @click="openModal"
    >
      <icon-svg :icon-path="mdiPen" class="w-4 h-4 mr-2" fill="currentColor" />
    </button>
    <modal v-model="isModalOpen" class="px-4">
      <div
        class="bg-white rounded-lg shadow-lg max-w-screen-lg mx-auto min-h-full flex flex-col p-3"
      >
        <div class="flex flex-row">
          <div class="font-medium mt-2 ml-2 text-gray-700">
            Page configuration
          </div>
          <button
            class="rounded-full ml-auto mr-2 bg-red-600 text-white w-8 h-8 mt-2"
            @click="isModalOpen = false"
          >
            <icon-svg
              :icon-path="mdiClose"
              class="w-4 h-4 mr-2"
              fill="currentColor"
            />
          </button>
        </div>
        <div>
          <Input v-model="name" placeholder="Name" label="Name" name="name" />
          <Input v-model="path" placeholder="Path" label="Path" name="path" />
        </div>
        <div class="flex flex-row my-3 justify-end">
          <button @click="isModalOpen = false">Cancel</button>
          <button
            v-if="type === 'create'"
            class="bg-green-600 text-white mx-3"
            @click="createNewPage"
          >
            Create
          </button>
          <button
            v-else-if="type === 'edit'"
            class="bg-green-600 text-white mx-3"
            @click="editPage"
          >
            Edit
          </button>
        </div>
      </div>
    </modal>
  </div>
</template>
<script>
import { mdiClose, mdiPen } from '@mdi/js'
export default {
  props: {
    page: {
      type: Object,
      default: null,
    },
    type: {
      type: String,
      default: 'create',
    },
    buttonText: {
      type: String,
      default: 'Create',
    },
  },
  data() {
    return {
      pageConfiguration: {},
      isModalOpen: false,
      mdiClose,
      mdiPen,
      componentsConfig: this.$componentsConfig,
    }
  },
  computed: {
    name: {
      get() {
        if (this.page && this.page.name) return this.page.name
        return this.pageConfiguration.name
      },
      set(value) {
        this.pageConfiguration.name = value
      },
    },
    path: {
      get() {
        if (this.page && this.page.path) return this.page.path
        return this.pageConfiguration.path
      },
      set(value) {
        this.pageConfiguration.path = value
      },
    },
    activeComponent() {
      return this.$store.state.studio.activeComponentConfig
    },
    components() {
      return this.$store.state.studio.pageConfiguration.components
    },
  },
  methods: {
    async editPage() {
      try {
        await this.$pages.updateOneById(this.page.id, this.pageConfiguration)
        this.$toast.success('Page updated with success')
        this.$nuxt.refresh()
        this.isModalOpen = !this.isModalOpen
      } catch (error) {
        this.$toast.error(error.response.data.message)
      }
    },
    async createNewPage() {
      try {
        await this.$pages.create(this.pageConfiguration)
        this.$toast.success('Page created with success')
        this.$nuxt.refresh()
        this.isModalOpen = !this.isModalOpen
      } catch (error) {
        this.$toast.error(error.response.data.message)
      }
    },
    openModal() {
      this.isModalOpen = !this.isModalOpen
    },
  },
}
</script>
