<template>
  <button
    :class="[
      !isDisabled && !isLoading ? classNames : 'bg-gray-400 text-gray-100',
      !isDisabled ? 'cursor-pointer' : 'cursor-default',
      isLoading ? 'cursor-wait' : '',
      'flex py-1 px-2 rounded-md shadow-sm mx-auto mt-2 focus:outline-none justify-center items-center relative',
    ]"
    @click="buttonClicked"
  >
    <icon-svg
      v-if="isLoading"
      :icon-path="mdiLoading"
      class="animate-spin text-white h-5 w-5 ml-3 absolute left-0"
      fill="currentColor"
    />
    <div :class="[isLoading ? 'ml-5' : '']">
      {{ text }}
    </div>
  </button>
</template>
<script>
import { mdiLoading } from '@mdi/js'
export default {
  name: 'FormButton',
  props: {
    text: {
      type: String,
      default: 'Cliquez ici',
    },
    isLoading: {
      type: Boolean,
      default: false,
    },
    classNames: {
      type: String,
      default: 'bg-orange-500 text-white hover:bg-gray-700',
    },
    isDisabled: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      mdiLoading,
    }
  },
  methods: {
    buttonClicked() {
      if (!this.isLoading && !this.isDisabled) this.$emit('click', true)
    },
  },
}
</script>
