<template>
  <div>
    <DynamicForm
      :fields="buildProps"
      :field-values="fieldValues"
      @updateField="updatePropValue($event)"
    />
  </div>
</template>
<script>
export default {
  computed: {
    activeComponent() {
      return this.$store.state.studio.activeComponentConfig
    },
    componentConfig() {
      return this.$componentsConfig[this.activeComponent.name]
    },
    fieldValues() {
      const values = {}
      this.props.forEach((prop) => {
        const value = this.getPropValue(prop)
        values[prop] = value
      })
      return values
    },
    buildProps() {
      const properties = this.$componentsConfig[this.activeComponent.name].props
      this.props.forEach((prop) => {
        if (!properties[prop]) properties[prop] = {}
        properties[prop].name = prop
      })
      return properties
    },
    props() {
      return Object.keys(
        this.$componentsConfig[this.activeComponent.name].props
      )
    },
  },
  methods: {
    updatePropValue(data) {
      if (!data || !data.field) return
      const fieldName = data.field
      const fieldValue = data.value
      this.$store.commit('studio/activeComponentConfig/updateComponentProps', {
        prop: fieldName,
        value: fieldValue,
      })
      const props = this.activeComponent.props
      props[fieldName] = fieldValue
      this.$store.commit('studio/pageConfiguration/updateComponent', {
        id: this.activeComponent.id,
        props,
      })
    },
    getPropInput(prop) {
      if (
        this.$componentsConfig &&
        this.$componentsConfig[this.activeComponent.name] &&
        this.$componentsConfig[this.activeComponent.name].props &&
        this.$componentsConfig[this.activeComponent.name].props[prop]
      )
        return this.$componentsConfig[this.activeComponent.name].props[prop]
    },
    getPropValue(prop) {
      if (
        this.activeComponent &&
        this.activeComponent.props &&
        this.activeComponent.props[prop]
      )
        return this.activeComponent.props[prop]
      else if (
        typeof this.activeComponent.props[prop] === `undefined` &&
        this.getPropInput(prop).default
      )
        return this.getPropInput(prop).default
    },
  },
}
</script>
