<template>
  <div class="w-full px-2">
    <div class="flex flex-col p-2 sm:p-5">
      <Input
        v-model="email"
        type="text"
        name="email"
        placeholder="Adresse mail"
        :rules="[rules.required, rules.email]"
        @keyup.native.enter="pressEnter"
      />
      <Input
        v-model="password"
        type="password"
        name="password"
        placeholder="Mot de passe"
        :rules="[rules.required]"
        @keyup.native.enter="pressEnter"
      />
      <form-button
        text="S'identifier"
        class="w-1/2"
        :is-disabled="isDisabled"
        :is-loading="isLoading"
        @click="login"
      />
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      email: null,
      password: null,
      isLoading: false,
      rules: {
        required: (value) => !!value || 'Champ requis',
        email: (value) => {
          return (
            this.$emailValidation(value) ||
            "Votre adresse e-mail n'est pas valide"
          )
        },
      },
    }
  },
  computed: {
    isDisabled() {
      if (this.email && this.$emailValidation(this.email) && this.password)
        return false
      return true
    },
  },
  methods: {
    async pressEnter() {
      if (!this.isDisabled) await this.login()
    },
    async login() {
      try {
        this.isLoading = true
        await this.$auth
          .loginWith('local', {
            data: {
              email: this.email,
              password: this.password,
            },
          })
          .then((result) => {
            this.$axios.setHeader(
              'Authorization',
              `Bearer ${result.data.token}`
            )
            this.$auth.ctx.app.$axios.setHeader(
              'Authorization',
              `Bearer ${result.data.token}`
            )
            this.$toast.success(`Vous êtes authentifié`)
            this.$router.push('/studio')
          })
        this.isLoading = false
      } catch (error) {
        this.$toast.error(error.response.data.message)
        this.isLoading = false
      }
    },
  },
}
</script>
