<template>
  <div class="w-full flex justify-center">
    <button class="mx-auto my-2" @click="openModal">{{ buttonText }}</button>
    <modal v-model="isModalOpen" class="px-4">
      <div
        class="bg-white rounded-lg shadow-lg max-w-screen-lg mx-auto min-h-full flex flex-col"
      >
        <div class="flex flex-row">
          <div class="font-medium mt-2 ml-2 text-gray-700">
            Add a new component type
          </div>
          <button
            class="rounded-full ml-auto mr-2 bg-red-600 text-white w-8 h-8 mt-2"
            @click="isModalOpen = false"
          >
            <icon-svg
              :icon-path="mdiClose"
              class="w-4 h-4 mr-2"
              fill="currentColor"
            />
          </button>
        </div>
        <div class="flex flex-row flex-wrap">
          <div
            v-for="component in componentsConfig"
            :key="component.name"
            class="bg-gray-200 rounded-md shadow-md h-16 w-16 m-2 justify-center text-center items-center text-gray-700 truncate cursor-pointer"
            @click="addComponent(component.name)"
          >
            <icon-svg
              :icon-path="mdiPlus"
              class="w-8 h-8 mx-auto"
              fill="currentColor"
            />
            <span class="mx-auto">{{ component.name }}</span>
          </div>
        </div>
      </div>
    </modal>
  </div>
</template>
<script>
import { mdiClose, mdiPlus } from '@mdi/js'
import { uuid } from 'vue-uuid'
export default {
  props: {
    buttonText: {
      type: String,
      default: 'Add new component',
    },
    parentId: {
      type: String,
      default: null,
    },
    isWrapper: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      isModalOpen: false,
      mdiClose,
      mdiPlus,
      componentsConfig: this.$componentsConfig,
    }
  },
  computed: {
    activeComponent() {
      return this.$store.state.studio.activeComponentConfig
    },
    treeMap() {
      return this.$store.state.studio.pageConfiguration.treeMap
    },
    components() {
      return this.$store.state.studio.pageConfiguration.components
    },
  },
  methods: {
    addComponent(name) {
      const id = uuid.v1()
      let depth = 0
      let index = 0

      if (!this.parentId) {
        index = this.treeMap.length
      }

      if (this.parentId) {
        depth = parseInt(this.components[this.activeComponent.id].depth) + 1
        index = Object.keys(this.components).filter((id) => {
          return this.components[id].parentId === this.parentId
        }).length
      }
      const newComponent = {
        name,
        id,
        depth,
        index,
        parentId: this.parentId,
        props: {},
        style: {},
      }
      this.$store.commit('studio/pageConfiguration/addComponent', newComponent)
      this.isModalOpen = false
      this.$toast.success(`New component added successfully`)
    },
    openModal() {
      this.isModalOpen = !this.isModalOpen
    },
  },
}
</script>
