<template>
  <div>
    <Navbar />
    <left-side-bar />
    <div :class="[downSideBarOpen ? 'mb-80' : 'mb-0', 'flex-1 mt-12']">
      <Nuxt class="min-h-screen" />
    </div>
    <down-side-bar />
  </div>
</template>
<script>
export default {
  computed: {
    downSideBarOpen() {
      return this.$store.state.studio.sidebar.downSideBar
    },
  },
}
</script>
<style scoped>
.layout-enter-active,
.layout-leave-active {
  transition: all 0.25s ease-in-out;
  transition: all 0.25s cubic-bezier(0.55, 0, 0.1, 1);
}
.layout-enter,
.layout-leave-active {
  opacity: 0;
  transform: translate(10px, 0);
}

.page-enter-active,
.page-leave-active {
  transition: all 0.15s ease-in-out;
  transition: all 0.15s cubic-bezier(0.55, 0, 0.1, 1);
}

.page-enter,
.page-leave-active {
  opacity: 0;
  transform: translate(10px, 0);
}
</style>
