<template>
  <div class="w-full inline-block">
    <div>Header</div>
    <components-list v-if="componentsRoot" :components="componentsRoot" />
    <div>Footer</div>
  </div>
</template>
<script>
export default {
  async asyncData({ app, params, error }) {
    try {
      const result = await app.$pages.getOneByUri(params.uri)
      if (result)
        return {
          pageConfiguration: result,
        }
    } catch (e) {
      error({ statusCode: 404, message: 'Page configuration not found' })
    }
  },
  data() {
    return {
      pageConfiguration: null,
    }
  },
  computed: {
    componentsRoot() {
      if (!this.pageConfiguration || !this.pageConfiguration.root) return
      return this.pageConfiguration.root
    },
  },
}
</script>
