<template>
  <div>
    <div class="flex flex-row">
      <label
        v-if="label"
        :for="name"
        class="block text-sm font-medium text-gray-700 mr-2"
      >
        {{ label }}
      </label>
      {{ value }}
      <div class="flex h-6 w-6 relative justify-center">
        <input
          type="checkbox"
          :checked="value"
          class="cursor-pointer h-6 w-6 relative block opacity-0 z-30"
          :name="name"
          @change="$emit('change', $event.target.checked)"
        />
        <div
          :class="[
            value ? 'bg-orange-500' : 'border border-gray-300 bg-white',
            'rounded-md absolute w-full h-full flex justify-center items-center shadow-sm',
          ]"
        >
          <icon-svg
            :class="[
              value ? 'block' : 'hidden',
              'fill-current w-6 h-6 text-white pointer-events-none absolute',
            ]"
            :icon-path="mdiCheckBold"
          />
        </div>
      </div>
    </div>
    <div v-if="error" class="text-xs text-red-400">
      {{ error }}
    </div>
  </div>
</template>
<script>
import { mdiCheckBold } from '@mdi/js'
export default {
  props: {
    value: {
      type: Boolean,
      default: false,
    },
    name: {
      type: String,
      default: null,
    },
    label: {
      type: String,
      default: null,
    },
    rules: {
      type: Array,
      default: null,
    },
  },
  data() {
    return {
      mdiCheckBold,
    }
  },
  computed: {
    error() {
      if (!this.rules) return false
      const errors = []

      this.rules.forEach((rule) => {
        if (rule(this.value) !== true) {
          const errorMessage = rule(this.value)
          if (!errors.includes(errorMessage)) errors.push(rule(this.value))
        }
      })

      if (errors && errors.length > 0) return errors[0]
      return false
    },
  },
}
</script>
