<template>
  <div class="m-1">
    <label
      v-if="label"
      :for="name"
      class="block text-sm text-white font-medium"
    >
      {{ label }}
    </label>
    <div class="flex w-full rounded-md shadow-sm h-8">
      <span
        v-if="prefix"
        :class="[
          isFocus ? 'border-gray-400' : 'border-gray-300',
          'inline-flex items-center pl-3 pr-1 rounded-l-md border border-r-0 bg-gray-50 text-gray-500 text-sm',
        ]"
      >
        {{ prefix }}
      </span>
      <input
        v-model="inputValue"
        :type="type"
        :name="name"
        :max="max"
        :min="min"
        :step="step"
        :class="[
          suffix ? 'border-r-0 ' : 'rounded-r-md',
          prefix ? 'border-l-0' : 'rounded-l-md',
          suffix && prefix ? 'rounded-none' : '',
          'focus:outline-none bg-white focus:ring-2 px-2 focus:border-gray-400 flex-1 block w-full sm:text-sm border border-gray-300',
        ]"
        :placeholder="placeholder"
        @focus="isFocus = true"
        @blur="isFocus = false"
      />
      <span
        v-if="suffix"
        :class="[
          isFocus ? 'border-gray-400' : 'border-gray-300',
          'inline-flex items-center pl-1 pr-3 rounded-r-md border border-l-0 bg-gray-50 text-gray-500 text-sm',
        ]"
      >
        {{ suffix }}
      </span>
    </div>
    <div v-if="error" class="text-xs text-red-400">
      {{ error }}
    </div>
  </div>
</template>
<script>
export default {
  props: {
    value: {
      type: [Number, String],
      default: null,
    },
    name: {
      type: String,
      required: true,
      default: null,
    },
    placeholder: {
      type: String,
      default: null,
    },
    type: {
      type: String,
      default: `text`,
    },
    suffix: {
      type: String,
      default: null,
    },
    prefix: {
      type: String,
      default: null,
    },
    label: {
      type: String,
      default: null,
    },
    min: {
      type: Number,
      default: null,
    },
    max: {
      type: Number,
      default: null,
    },
    step: {
      type: Number,
      default: null,
    },
    rules: {
      type: Array,
      default: null,
    },
  },
  data() {
    return {
      isFocus: false,
    }
  },
  computed: {
    inputValue: {
      get() {
        return this.value
      },
      set(value) {
        if (this.type === 'number') {
          value = value * 1
          if (value < this.min) value = this.min
          if (value > this.max) value = this.max
        }
        this.$emit('input', value)
      },
    },
    error() {
      if (!this.rules) return false
      const errors = []

      this.rules.forEach((rule) => {
        if (rule(this.value) !== true) {
          const errorMessage = rule(this.value)
          if (!errors.includes(errorMessage)) errors.push(rule(this.value))
        }
      })

      if (errors && errors.length > 0) return errors[0]
      return false
    },
  },
}
</script>
