<template>
  <div v-click-outside="closeDropdown" class="relative m-1">
    <span class="inline-block w-full relative z-10">
      <label
        v-if="label"
        :for="name"
        class="block text-sm font-medium text-gray-700"
      >
        {{ label }}
      </label>
      <button
        type="button"
        class="flex text-black min-h-8 items-center relative cursor-pointer w-full rounded-md border border-gray-300 bg-white pl-1 pr-10 text-left focus:outline-none transition ease-in-out duration-150 text-sm sm:leading-5"
        @click="openDropdown"
      >
        <div
          v-if="selectedItems && selectedItems.length > 0"
          class="flex flex-wrap flex-auto items-center text-md justify-start max-w-full"
        >
          <div
            v-for="(selectedItem, i) in selectedItems"
            :key="`${selectedItem.value}-label-${i}`"
            class="max-w-inherit"
          >
            <div v-if="!multiple" class="text-md truncate px-2">
              {{ selectedItem.label }}
            </div>
            <div
              v-else-if="i + 1 <= maxDisplayed"
              class="truncate mx-1 my-1 rounded-md bg-orange-500 text-white px-2 py-1"
            >
              {{ selectedItem.label }}
            </div>
          </div>

          <span
            v-if="countHiddenItems > 0"
            class="mx-1 my-1 rounded-md bg-gray-100 border border-gray-300 text-gray-700 font-medium px-2 py-1"
          >
            + {{ countHiddenItems }}
          </span>
        </div>
        <div v-else-if="placeholder" class="block text-md text-gray-500">
          {{ placeholder }}
        </div>
        <span
          class="absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none"
        >
          <icon-svg
            class="h-5 w-5 text-gray-400"
            fill="currentColor"
            :icon-path="mdiChevronDown"
          />
        </span>
      </button>
    </span>
    <div v-if="error" class="text-xs text-red-400">
      {{ error }}
    </div>
    <Transition name="fade">
      <div
        v-show="isOpen"
        class="absolute z-50 w-full rounded-md bg-white shadow-lg h-auto"
      >
        <ul
          tabindex="-1"
          :role="name"
          class="relative max-h-48 z-50 rounded-md text-base leading-6 shadow-xs overflow-auto focus:outline-none sm:text-sm sm:leading-5"
        >
          <li
            v-for="(item, i) in data"
            :id="`listbox-item-${(i, name)}`"
            :key="item.value"
            tabindex="0"
            role="option"
            :class="[
              isSelected(item.value)
                ? 'text-white font-bold bg-orange-600'
                : 'text-gray-900 bg-white',
              !multiple
                ? 'focus:text-white focus:bg-orange-600 hover:text-white hover:bg-orange-500'
                : '',
              'flex focus:outline-none items-center cursor-default relative py-2 px-2 pr-9 cursor-pointer',
            ]"
            @click="select(item)"
          >
            <div class="justify-start truncate">
              {{ item.label }}
            </div>
            <div
              v-if="multiple"
              class="bg-white border-2 cursor-pointer rounded border-gray-300 w-6 h-6 flex flex-shrink-0 justify-center items-center ml-auto mr-2 focus-within:border-blue-500"
            >
              <input
                type="checkbox"
                :checked="isSelected(item.value)"
                class="opacity-0 absolute"
                :name="`checkbox-multiple-${i}-${item.value}`"
              />
              <icon-svg
                :class="[
                  isSelected(item.value) ? 'block' : 'hidden',
                  'fill-current w-6 h-6 text-green-500 pointer-events-none',
                ]"
                :icon-path="mdiCheckBold"
              />
            </div>
          </li>
        </ul>
      </div>
    </Transition>
  </div>
</template>

<script>
import { mdiChevronDown, mdiCheckBold } from '@mdi/js'
export default {
  props: {
    data: {
      type: Array,
      default: null,
    },
    name: {
      type: String,
      required: true,
    },
    value: { type: Array, default: null },
    maxDisplayed: {
      type: Number,
      default: 3,
    },
    label: {
      type: String,
      default: null,
    },
    placeholder: {
      type: String,
      default: null,
    },
    multiple: {
      type: Boolean,
      default: false,
    },
    rules: {
      type: Array,
      default: null,
    },
  },
  data() {
    return {
      mdiChevronDown,
      mdiCheckBold,
      countHiddenItems: 0,
      isOpen: false,
    }
  },
  computed: {
    selectedItems() {
      if (!this.value) return null
      const values = []
      this.value.forEach((selectedItem) => {
        values.push(
          this.data.filter((dataItem) => {
            return dataItem.value === selectedItem
          })[0]
        )
      })
      return values
    },
    error() {
      if (!this.rules) return false
      const errors = []

      this.rules.forEach((rule) => {
        if (rule(this.value) !== true) {
          const errorMessage = rule(this.value)
          if (!errors.includes(errorMessage)) errors.push(rule(this.value))
        }
      })

      if (errors && errors.length > 0) return errors[0]
      return false
    },
  },
  created() {
    if (this.value && this.value.length > this.maxDisplayed)
      this.countHiddenItems = this.value.length - this.maxDisplayed
  },
  methods: {
    isSelected(value) {
      if (!this.value || !value) return false
      return this.value.includes(value)
    },
    closeDropdown() {
      this.isOpen = false
    },
    openDropdown() {
      this.isOpen = !this.isOpen
    },
    select(selectedItem) {
      if (!this.multiple) {
        this.isOpen = false
        this.$emit('input', [selectedItem])
      } else if (this.multiple) {
        let valuesArray = []
        let selectedItems = this.selectedItems || []
        if (selectedItems.length > 0)
          valuesArray = this.selectedItems.map((item) => {
            return item.value
          })

        if (
          valuesArray &&
          valuesArray.length > 0 &&
          valuesArray.includes(selectedItem.value)
        )
          selectedItems = selectedItems.filter((item) => {
            return item.value !== selectedItem.value
          })
        else selectedItems.push(selectedItem)

        this.countHiddenItems = 0
        if (selectedItems && selectedItems.length > this.maxDisplayed)
          this.countHiddenItems = selectedItems.length - this.maxDisplayed

        this.$emit('input', selectedItems)
      }
    },
  },
}
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: all 0.15s ease-in-out;
  transition: all 0.15s cubic-bezier(0.75, 0, 0.1, 1);
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
  transform: translate(0, -10px);
}
</style>
