<template>
  <div class="m-1">
    <label
      v-if="label"
      :for="name"
      class="block text-sm font-medium text-gray-700"
    >
      {{ label }}
    </label>
    <div class="mt-1 flex rounded-md shadow-sm">
      <textarea
        :value="value"
        :name="name"
        :rows="rows"
        :cols="cols"
        :class="[
          'focus:outline-none focus:ring-2 p-1 rounded-md focus:border-orange-400 flex-1 block w-full sm:text-sm border border-gray-300',
        ]"
        :placeholder="placeholder"
        @focus="isFocus = true"
        @blur="isFocus = false"
        @input="$emit('input', $event.target.value)"
      />
    </div>
    <div v-if="error" class="text-xs text-red-400">
      {{ error }}
    </div>
  </div>
</template>
<script>
export default {
  props: {
    value: {
      type: String,
      default: null,
    },
    name: {
      type: String,
      required: true,
      default: null,
    },
    placeholder: {
      type: String,
      default: null,
    },
    type: {
      type: String,
      default: `text`,
    },
    rows: {
      type: Number,
      default: 4,
    },
    cols: {
      type: Number,
      default: 50,
    },
    label: {
      type: String,
      default: null,
    },
    rules: {
      type: Array,
      default: null,
    },
  },
  data() {
    return {
      isFocus: false,
    }
  },
  computed: {
    error() {
      if (!this.rules) return false
      const errors = []

      this.rules.forEach((rule) => {
        if (rule(this.value) !== true) {
          const errorMessage = rule(this.value)
          if (!errors.includes(errorMessage)) errors.push(rule(this.value))
        }
      })

      if (errors && errors.length > 0) return errors[0]
      return false
    },
  },
}
</script>
