<template>
  <div class="max-w-lg mx-auto min-w-1/2">
    <div
      v-for="page in pages"
      :key="page.id"
      class="m-2 bg-gray-200 text-gray-700 rounded-md shadow-md flex flex-row flex-wrap"
    >
      <div class="px-3 py-1">
        <div class="font-bold text-gray-700">
          {{ page.name }}
        </div>
        <div class="text-xs">
          {{ page.path }}
        </div>
      </div>
      <div class="flex flex-row items-center ml-auto mr-2">
        <form-modal-page :page="page" :type="`edit`" />
        <nuxt-link
          :to="$routes.studio.page.path + page.id"
          class="bg-gray-600 rounded-full text-white justify-center items-center flex h-8 w-8 hover:bg-gray-500 mx-1 h-8 w-8"
        >
          <icon-svg :icon-path="mdiDraw" class="w-6 h-6" fill="currentColor" />
        </nuxt-link>
        <button
          class="bg-red-600 rounded-full text-white h-8 w-8 mx-1 justify-center items-center flex"
          @click="
            openModalDelete = true
            selectedPageId = page.id
          "
        >
          <icon-svg
            :icon-path="mdiDelete"
            class="w-6 h-6"
            fill="currentColor"
          />
        </button>
      </div>
    </div>
    <modal v-model="openModalDelete">
      <div
        class="bg-white rounded-lg shadow-lg max-w-screen-md mx-auto min-h-full flex flex-col p-3"
      >
        <div class="flex flex-row">
          <div class="font-medium mt-2 ml-2 text-gray-700">
            Page configuration
          </div>
          <button
            class="rounded-full ml-auto mr-2 bg-red-600 text-white w-8 h-8 mt-2"
            @click="openModalDelete = false"
          >
            <icon-svg
              :icon-path="mdiClose"
              class="w-4 h-4 mr-2"
              fill="currentColor"
            />
          </button>
        </div>
        <div>Delete this page</div>
        <div class="flex flex-row my-3 justify-end">
          <button>Cancel</button>
          <button class="bg-red-600 text-white mx-3" @click="deletePage">
            Delete
          </button>
        </div>
      </div>
    </modal>
  </div>
</template>
<script>
import { mdiDelete, mdiClose, mdiDraw } from '@mdi/js'
export default {
  props: {
    pages: {
      type: Array,
      default: null,
    },
  },
  data() {
    return {
      selectedPageId: null,
      mdiDelete,
      mdiClose,
      mdiDraw,
      openModalDelete: false,
    }
  },
  methods: {
    async deletePage() {
      try {
        if (!this.selectedPageId) return
        await this.$pages.deleteOneById(this.selectedPageId)
        this.$toast.success('Page deleted with success')
        this.$nuxt.refresh()
        this.openModalDelete = false
      } catch (error) {
        this.$toast.error(error.response.data.message)
      }
    },
  },
}
</script>
